# Python
.venv/
__pycache__/
.pytest_cache/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
crash.log

# Terraform lock files
# Keep env-level lock files only if desired
infra/.terraform.lock.hcl

# Mac
.DS_Store

# VSCode
.vscode/

.env
.env.dev
.env.qa
.env.prod